html {
  background-color: #263238;
}

.home {
  background-image: url('/view/assets/img/home/bg-main-page-v3.jpg'), url('/view/assets/img/home/bg-subscription.svg');
  background-position: center top, 50% 113%;
  background-size: auto 1350px,auto;
  background-color: #151f2b;
  background-repeat: no-repeat,no-repeat;
  min-height: 87vh;
  padding-top: 50px;
}

.container {
  margin-top: 10px;
}

.benefit-text {
  font-family: Roboto;
  font-size: 20px;
  color: #cffbff;
  margin-left: 15px;
}

.welcome-text {
  color: #29f3db;
  font-family: Roboto;
  font-size: 32px;
  line-height: 45px;
}
